@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');

.play_image {
    composes: game_image from '../home/Home.module.css';
    opacity: 1;
    position: static;
}

.menu {
    display: flex;
    flex-direction: column;
}

.selected {
    width: 200px;
}

